
<% if(posts.length > 0) {%>
    <% for (var i=0; i< posts.length; i++)  { %>
    <div class="card my-3">

            <div class="card-header p-bottom-0">
                <div class="float-left">
                    <!-- posts.image_profile -->
                    <img class="rounded-circle mr-2" src="https://picsum.photos/g/40/40" alt="img">
                    <a href="/home/users/<%= posts[i].user_id %>">
                        <p class="mb-0"><%= posts[i].name %></p>
                    </a>
                </div>
                <p class="float-right my-auto"><small><%= posts[i].date%></small></p>
            </div>
        <div class="card-body">
            <% console.log(posts[i].content)%>
            <%= posts[i].content %>
        </div>
    </div>
    <% } %>
<% } else { %>
<div class="alert alert-warning">¡Vaya! Parece que no tienes ningún post a la vista, ¿Por qué no dices algo?</div>
<% } %>