<div id="input-group">
    <textarea class="form-control" id="content" name="content" rows="5" autofocus></textarea>
    <button class="btn btn-outline-success btn-block m-auto" onclick="sendPost()">
        Comenta!<i class="fas fa-comment m-1"></i>
    </button>
</div>