<form class="form-inline" method="post" action="/home/post/new">
    <div id="input-group">
        <input class="form-control"
               type="text" name="content" id="content"
               placeholder="Escribe tus experiencias... ">
        <div id="input-group-append">
            <button id="btn btn-outline-light" type="submit">
                <i class="fas fa-comment"></i>
            </button>
        </div>
    </div>
</form>