<div class="my-5">
    <h4>Amistades pendientes</h4>
    <hr>
    <div class="list-group">
        <% for (var i=0 ; i < friendRequests.length; i++) { %>
        <div class="list-group-item justify-content-between d-flex">
            <a class="my-auto" href="/home/users/<%= friendRequests[i].sender %>"><%= friendRequests[i].sender %></a>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-success"><i class="fas fa-check"></i></button>
                <button class="btn btn-danger"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <% } %>
    </div>
</div>