<div class="mb-3">
    <h4 id="my-friends">Amigos</h4>
    <hr>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            Amigos
        </li>
        <% for(var i = 0; i < friends.length; i++) { %>
        <a class="list-group-item list-group-item-action" href="/home/users/<%= friends[i].email %>">
            <img class="rounded-circle mr-2" src="https://picsum.photos/g/40/40" alt="img">
            <%= friends[i].name + " " + friends[i].surname %>
        </a>
        <% } %>
    </ul>
</div>