<a href="#" class="list-group-item list-group-item-action active">
    Grado Ingeniería Informática
</a>
<div class="list-group menu-group">
    <% for(i = 0; i < 6; i++) { %>
    <a href="/users" class="list-group-item list-group-item-primary list-group-item-action ">Profe</a>
    <% } %>
    <% for(i = 0; i < 20; i++) { %>
    <a href="/users" class="list-group-item list-group-item-success list-group-item-action">Alum</a>
    <% } %>
</div>