<% for(var i = 0; i < posts.length; i ++) { %>
<div class="card my-3">
    <div class="card-header p-bottom-0">
        <div class="float-left">
            <img class="rounded-circle mr-2" src="https://picsum.photos/g/40/40" alt="img">
            <p class="mb-0"><strong><%=posts[i].name%></strong></p>
        </div>
        <p class="float-right my-auto"><small><%= posts[i].date%></small></p>
    </div>
    <div class="card-body">
        <p class="text-justify"><%= posts[i].content%></p>
    </div>
</div>
<% } %>