<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include partials/resources.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container customContainer">
    <div class="row">
        <div class="col-3">
            Sidemenu
        </div>

        <div class="col-7">
            <div class="text-center">
                <h3>Resultados de la búsqueda</h3>
            </div>

            <div class="card p-2">
                <% for (var i = 0; i < users.length; i++) { %>
                <div class="py-2">
                    <div class="card p-1">
                        <div class="row ">
                            <div class="col-3">
                                <img src="https://picsum.photos/40/40" class="w-100 embed-responsive">
                            </div>

                            <div class="col-6">
                                <div class="card-block customAlignment-center-child">
                                    <h4 class="card-title"><%= users[i].name %></h4>
                                    <p class="card-text"><%= users[i].university %></p>
                                    <p class="card-text"><%= users[i].degree %></p>
                                </div>
                            </div>

                            <div class="col-3 my-auto">
                                <div class="btn-group-vertical pl-5">
                                    <button class="btn btn-primary">
                                        <i class="fas fa-user-plus"></i>
                                    </button>
                                    <button class="btn btn-success">
                                        <i class="fas fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="col-3">

        </div>
    </div>
</div>
</body>
</html>
