<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include ../partials/resources.ejs %>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #00FF00;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #00FF00;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
</head>
<body>
<% include ../partials/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-3">
            <form id="data">
                <div class="mb-2 text-center">
                    <i class="fas fa-user fa-7x"></i>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="inputName">Nombre</label>
                        <input type="text" disabled class="form-control" id="inputName" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSurname">Apellidos</label>
                        <input type="text" disabled class="form-control" id="inputSurname" placeholder="Apellidos">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" disabled class="form-control" id="inputEmail" placeholder="Mail">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUni">Universidad</label>
                        <input type="text" disabled class="form-control" id="inputUni" placeholder="Universidad...">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDegree">Grado</label>
                        <select disabled id="inputDegree" class="form-control">
                            <option selected>GII...</option>
                            <option>ADE..</option>
                            <option>GTI..</option>
                        </select>
                    </div>
                </div>

                <label class="switch">
                    <input type="checkbox" id="disableData">
                    <span class="slider round"></span>
                </label>
            </form>
        </div>
    </div>
</div>
</body>
</html>
