<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include ../partials/resources.ejs %>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <style>
        .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
        .toggle.ios .toggle-handle { border-radius: 20px; }
        .toggle-handle {background-color: white}
    </style>
</head>
<body>
<% include ../partials/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-3">
            <form id="form-profile">
                <div class="mb-2 text-center">
                    <i class="fas fa-user fa-7x"></i>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="inputName">Nombre</label>
                        <input type="text" disabled class="form-control" id="inputName" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSurname">Apellidos</label>
                        <input type="text" disabled class="form-control" id="inputSurname" placeholder="Apellidos">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" disabled class="form-control" id="inputEmail" placeholder="Mail">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUni">Universidad</label>
                        <input type="text" disabled class="form-control" id="inputUni" placeholder="Universidad...">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDegree">Grado</label>
                        <select disabled id="inputDegree" class="form-control">
                            <option selected>GII...</option>
                            <option>ADE..</option>
                            <option>GTI..</option>
                        </select>
                    </div>
                </div>

                <input id="toggle" type="checkbox" data-toggle="toggle" data-style="ios">
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/scripts.js"></script>
<script>
setUpProfileToggle();
</script>
</body>
</html>
