body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.customNavbar{
  width: 100%;
}

.customContainer{
  padding-top: 2%;
}

.customAlignment-center{
  display: flex;
  align-items: center;
}
