<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include ../partials/resources.ejs %>
</head>
<body>
<% include ../partials/navbar.ejs %>

<div class="container ">
    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <img class="rounded-circle mr-2" src="https://picsum.photos/g/40/40" alt="...">
                    Usuario
                </div>
            </div>
            <hr>

            <ul class="list-group">

                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                    Mis grupos
                    <a href="index.ejs">
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-info badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    Dapibus ac facilisis in
                    <span class="badge badge-success badge-pill">2</span>
                </li>
            </ul>
        </div>

        <div class="col-6">
            <h4>Crear post</h4>
            <div class="alert alert-secondary">
                Escribe tus experiencias...
            </div>

            <h4>Actividad</h4>
            <hr>

            <% for(var i = 0; i < 3; i++) { %>
            <div class="card my-3">
                <div class="card-header">
                    <img class="rounded-circle mr-2" src="https://picsum.photos/g/40/40" alt="img">
                    Usuario
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend rhoncus congue.
                    Donec placerat nisl et volutpat consequat. Aenean laoreet massa nibh, auctor dapibus ex bibendum
                    vel.
                </div>
            </div>
            <% } %>
        </div>

        <div class="col-3">
            <a href="#" class="list-group-item list-group-item-action active">
                Grado Ingeniería Informática
            </a>
            <div class="list-group menu-group">
                <% for(i = 0; i < 6; i++) { %>
                <a href="/users" class="list-group-item list-group-item-primary list-group-item-action ">Profe</a>
                <% } %>
                <% for(i = 0; i < 20; i++) { %>
                <a href="/users" class="list-group-item list-group-item-success list-group-item-action">Alum</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
</html>