<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include ../partials/resources.ejs %>
</head>
<body>
<% include ../partials/navbar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <img class="rounded-circle mr-2" src="https://picsum.photos/g/40/40" alt="...">
                    Usuario
                </div>
            </div>
            <hr>

            <ul class="list-group">
                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                    Mis grupos
                    <a href="index.ejs">
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-info badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    Dapibus ac facilisis in
                    <span class="badge badge-success badge-pill">2</span>
                </li>
            </ul>
        </div>

        <div class="col-6">
            <div class="text-center">
                <h3>Resultados de la búsqueda: <%= somethingWeLookFor %></h3>
                <hr>
            </div>

            <div class="card p-2">
                <% for (var i = 0; i < users.length; i++) { %>
                <div class="py-2">
                    <div class="card p-1">
                        <div class="row ">
                            <div class="col-3">
                                <img src="https://picsum.photos/g/200/200" class="w-100 embed-responsive">
                            </div>

                            <div class="col-6">
                                <div class="card-block customAlignment-center-child">
                                    <h4 class="card-title"><%= users[i].name + " " + users[i].surname %></h4>
                                    <p class="card-text"><%= users[i].university %></p>
                                    <p class="card-text"><%= users[i].degree %></p>
                                </div>
                            </div>

                            <div class="col-3 my-auto">
                                <div class="btn-group-vertical pl-5">
                                    <button class="btn btn-primary">
                                        <i class="fas fa-user-plus"></i>
                                    </button>
                                    <button class="btn btn-success">
                                        <i class="fas fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="col-3">
            <a href="#" class="list-group-item list-group-item-action active">
                Grado Ingeniería Informática
            </a>

            <div class="list-group menu-group">
                <% for(i = 0; i < 6; i++) { %>
                <a href="/users" class="list-group-item list-group-item-primary list-group-item-action ">Profe</a>
                <% } %>
                <% for(i = 0; i < 20; i++) { %>
                <a href="/users" class="list-group-item list-group-item-success list-group-item-action">Alum</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
